USE [master]
GO
/****** Object:  Database [LeaveMS]    Script Date: 7/28/2024 6:20:12 AM ******/
CREATE DATABASE [LeaveMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeaveMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeaveMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeaveMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveMS]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/28/2024 6:20:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[AnnualLeaves] [int] NULL,
	[CasualLeaves] [int] NULL,
	[ShortLeaves] [int] NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[RoasterStartTime] [time](7) NULL,
	[RoasterEndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveApplications]    Script Date: 7/28/2024 6:20:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveApplications](
	[LeaveId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[LeaveType] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((14)) FOR [AnnualLeaves]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((7)) FOR [CasualLeaves]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((2)) FOR [ShortLeaves]
GO
ALTER TABLE [dbo].[LeaveApplications]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
/****** Object:  StoredProcedure [dbo].[UpdateLeaveBalance]    Script Date: 7/28/2024 6:20:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to update leave balance after applying leave
CREATE PROCEDURE [dbo].[UpdateLeaveBalance]
    @empId INT,
    @leaveType VARCHAR(50),
    @leaveDays INT
AS
BEGIN
    IF @leaveType = 'annual'
        UPDATE Employees
        SET AnnualLeaves = AnnualLeaves - @leaveDays
        WHERE EmployeeId = @empId;
    ELSE IF @leaveType = 'casual'
        UPDATE Employees
        SET CasualLeaves = CasualLeaves - @leaveDays
        WHERE EmployeeId = @empId;
    ELSE IF @leaveType = 'short'
        UPDATE Employees
        SET ShortLeaves = ShortLeaves - @leaveDays
        WHERE EmployeeId = @empId;
END;
GO
USE [master]
GO
